.recipe-main-page-container {
    position: relative;
    width: 100%;
    padding-top: 100vh;
    transition: padding-top 0.8s ease-in-out;
}

.recipe-main-page-container.scrolled {
    padding-top: 100px;
}

.welcome-section-recipe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease-out;
    background-color: #f8f2e5;
    z-index: 2;
}

.recipe-main-page-container.scrolled .welcome-section-recipe {
    opacity: 0;
    pointer-events: none;
}

.welcome-text-recipe {
    font-size: 3rem;
    font-weight: 700;
    color: #2c3e50;
    text-align: center;
    line-height: 1.6;
}

.recipe-content-section {
    position: relative;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease-in 0.5s;
    padding: 2rem;
    background-color: #f8f2e5;
}

.recipe-main-page-container.scrolled .recipe-content-section {
    opacity: 1;
}

.recipe-main-page-container:not(.scrolled) .recipe-content-section {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.recipe-main-page-container:not(.scrolled) .welcome-section-recipe {
    opacity: 1;
    transition: opacity 0.5s ease-in 0.5s;
}

.recipe-main-header {
    display: flex;
    align-items: center;
}

.more-button {
    background-color: #F23051;
    color: white;
    border: none;
    border-radius: 999px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 16px;
    transition: background-color 0.3s;
    box-shadow: 0 3px 5px rgba(0,0,0,0.15);
}

.more-button:hover {
    background-color: #e51f42;
}

.title.sx-3 {
    margin-left: 16.67%;
}
